@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color-scheme: light;
	width: 100vw;
	height: 100vh;
	@apply text-dark font-sans;
}

body {
	height: 100%;
	width: 100%;
}

html.dark {
	color-scheme: dark;
	@apply bg-gray-900 text-light font-sans;
}
