@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	color-scheme: light;
	width: 100vw;
	height: 100vh;
	@apply text-dark font-sans;
}

body {
	height: 100%;
	width: 100%;
}

html.dark {
	color-scheme: dark;
	@apply bg-gray-900 text-light font-sans;
}

.toaster .message {
	overflow: hidden;
	display: -webkit-box !important;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.color-picker .wrapper {
	@apply border-gray-200 border shadow-lg rounded-lg dark:border-dark-muted dark:bg-dark-bg bg-white m-0 w-full;
}

.color-picker label{
	@apply !hidden
}

.color-picker .wrapper .picker-wrapper {
	@apply w-[112px] h-[112px];
}

.color-picker .wrapper input,
.color-picker .wrapper button {
	@apply dark:bg-dark-muted;
}

.color-picker .wrapper .slider-wrapper {
	@apply h-[112px];
}

.color-picker .container {
	@apply !hidden;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-thumb {
	background-color: hsl(0 0% 98%);
	border-radius: 1rem;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}
